<h3>Shop by seller!</h3>
<section class="product-container">
  <% @users.each do |user| %>
  <section class="user product-box">
    <ul>
      <div class="pic"></div>
      <li><%= link_to(user.name, user_path(user)) %></li>
      <li>Products Available: <%= user.products.count %></li>
      <li>Average Rating: <%= '%.2f' % average_rating(user) %></li>
    </ul>
  </section>

  <% end %>
</section>
