// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-type {
  overflow: scroll;
  max-height: 300px;
  background-color: lightblue;
  border: 5px double maroon;
  padding: 1em;
}
 .product-type div {
   padding-bottom: 1em;
 }
