<h2>Category: <%= @category.name %></h2>

<section class="product-container">
<% @category.products.each do |prod| %>
  <% if product.stock > 0 %>
  <div class="product-box">
    <%= image_tag product.image.url(:medium) %>
    <strong><%= link_to(prod.name, product_path(prod)) %></strong>

  </div>
<% end %>
<% end %>
</section>
