<!-- <h2>Welcome to the Octos Library!</h2> -->

<p>Here is a list of all products</p>

<ul class="product-container">
<% @products.each do |product| %>
<section class="product-box">
  <li>
    <strong><%= link_to(product.name, product_path(product)) %></strong>
  </li>

  <% if session[:user_id] == product.user_id %>
      <%= link_to "Edit", edit_product_path(product) %>

      <%= link_to("Retire", product_path(product.id), method: :retire, data: { confirm: "Are you sure you want to delete Product #{ product.name }?" }) %>

  <% end %>
  </section>
    <!-- <a href="/books/#{book.id}">Go to it now!</a> -->
<% end %>
</ul>


<%= link_to("Add a New Product", new_product_path, class: "important") %>

<!-- <a href="/books/new" class="important">Add a New Book</a> -->
